<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Admin - Editar</title>
</head>

<body>

        <style>
        .list-group-item {
            cursor: pointer;
        }

        .list-group-item:hover {
            --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb),var(--bs-text-opacity)) !important;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity)) !important;
  border-radius: var(--bs-border-radius-lg) !important;
        }
    </style>


    <main class="container mt-5">
        <header class="text-center">
            <h1 class="fw-bold">Editando produto</h1>
            <small class="text-muted text-center">{{ .Item.IdHex }}</small>
        </header>        
        <div class="card p-2">
            <form action="/admin/edit" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nome do produto</label>
                    <input class="form-control" id="name" name="name" type="text" required value="{{ .Item.Name }}">
                </div>

                <div class="form-group">
                    <label for="s_price">Preço pequeno <span class="text-muted">( coloque o preço sem virgula
                            )</span></label>
                    <input class="form-control" id="s_price" name="s_price" type="number" min="0" step="1"
                        placeholder="1000 = R$ 10,00" value="{{ .Item.SmallPrice }}" required>
                </div>

                <div class="form-group">
                    <label for="b_price">Preço grande <span class="text-muted">( coloque o preço sem virgula
                            )</span></label>
                    <input class="form-control" id="b_price" name="b_price" type="number" min="0" step="1"
                        placeholder="1500 = R$ 15,00" value="{{ .Item.BigPrice }}" required>
                </div>
                <div class="form-group">
                    <label for="description">Descrição</label>
                    <textarea name="description" id="description" class="form-control" rows="3" required>{{ .Item.Description }}</textarea>
                </div>

                <div class="form-group">

                    <div class="row my-1 d-flex align-items-center">
                        <div class="col-10">
                            <label for="ingredient">Ingredientes</label>
                            <input class="form-control" type="text" id="ingredient" placeholder="Digite um ingrediente">
                        </div>
                        <div class="col-auto">
                            <br>
                            <button id="add" type="button" class="btn btn-success my-2">Adicionar</button>
                        </div>
                    </div>

                    <ul id="list" class="list-group list-group-flush ms-3">
                        {{ range .Item.Ingredients }}
                        <li class="list-group-item">{{ . }}</li>
                        {{end}}
                    </ul>
                </div>

                <div class="form-group">
                    <label for="type">Tipo</label>
                     <select class="form-control" name="type" id="type" required>
                         <option value="boloCaseiro" {{if eq .Item.Type "boloCaseiro"}}selected{{end}} >Bolo caseiro</option>
                        <option value="boloFesta" {{if eq .Item.Type "boloFesta"}}selected{{end}} >Bolo de festa</option>
                        <option value="boloPote" {{if eq .Item.Type "boloPote"}}selected{{end}} >Bolo de pote</option>
                        <option value="doce" {{if eq .Item.Type "doce"}}selected{{end}} >Doce</option>
                        <option value="bebida" {{if eq .Item.Type "bebida"}}selected{{end}} >Bebida</option>
                        <option value="recheio" {{if eq .Item.Type "recheio"}}selected{{end}} >Recheio</option>
                        <option value="novidade" {{if eq .Item.Type "novidade"}}selected{{end}} >Novidade</option>
                    </select>
                </div>

                <div class="form-group my-3">
   
                    <input class="form-control-file col-4" type="file" id="image" name="image" accept=".jpg">
 

                    <img id="preview" src="/static/imgs/{{ .Item.IdHex }}.jpg" alt="Pré-visualização" class="img-fluid mt-2" style="max-height: 200px; max-width: 200px; display: none;">

                </div>
                
                <input type="hidden" name="id" id="id" value="{{ .Item.IdHex }}">
                <input type="hidden" name="ingredients" id="ingredientsHidden" value="{{ .JSONIngredients }}">
                <button type="submit" class="btn btn-primary">Salvar</button>
                
            </form>
            <form action="/admin/delete" method="post">
                <input type="hidden" name="id" id="item" value="{{ .Item.IdHex }}">
                <button type="submit" class="btn btn-danger my-3" onclick="return confirm('Tem certeza?')">Excluir</button>
            </form>
        </div>
    </main>

<script>


const input = document.getElementById('ingredient');
const lista = document.getElementById('list');
const addBtn = document.getElementById('add');
const hiddenField = document.getElementById('ingredientsHidden');

let allIngredients = {{ .JSONIngredients }};

addBtn.addEventListener('click', () => {
    const value = input.value.trim();
    if (value === "") return;

    allIngredients.push(value);

    const item = document.createElement('li');
    item.textContent = value;
    item.classList.add("list-group-item");
    item.addEventListener("click", () => remove(item, value));
    lista.appendChild(item);

    hiddenField.value = JSON.stringify(allIngredients);
    input.value = "";
    input.focus();
});

function remove(item, value) {
    item.remove();
    allIngredients = allIngredients.filter(i => i !== value);
    hiddenField.value = JSON.stringify(allIngredients);
}

const imageInput = document.getElementById('image');
const preview = document.getElementById('preview');

imageInput.addEventListener('change', () => {
    const file = imageInput.files[0];
    if (!file) return;

    const reader = new FileReader();
    reader.onload = () => {
        preview.src = reader.result;
        preview.style.display = 'block';
    };
    reader.readAsDataURL(file);
});

</script>

</body>

</html>